*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1158px;
    min-width: 320px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.second-title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.11;
    margin-bottom: 72px;
    text-align: center;

}

.third-title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
    text-align: center;
}

.text {
    color: #434455;
    font-weight: 500;
    /* font-size: 22px; */
    font-size: 12px;
    line-height: 1.5;
    /* text-align: center; */
}


.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    color: blue;
    margin-right: 76px;
}

.card-iteam {
    width: 100%;
}

.iteam-tumb {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #E7E9FC;
    padding: 32px 0;
}

@media (min-width: 768px) {
    .container {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .second-title {
        font-size: 36px;
    }
    .text {
        font-size: 20px;
    }

    .card-iteam {
        width: calc((100% - 24px) / 2);
    }
    
    .card-iteam:not(:last-child) {
        margin-right: 24px;
    }
}

@media (min-width: 1024px) {
    .card-iteam {
    width: calc((100% - 48px) / 3);
    }
}

/* ///////header ////////////*/
.header-container {
    padding-top: 16px;
    padding-bottom: 16px;
}
.header-tumb {
    display: flex;
    justify-content: space-between;
}
.header-tumb nav {
    display: flex;
}

.nav-list {
    display: flex;
}

.nav-iteam:first-child {
    margin-right: 10px;
}
.nav-iteam-castom {
    display: none;
}

.iteam-link {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.iteam-link:hover {
    color: blue;
}
.nav-contact-list {
    display: none;
}
.header-contact {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.nav-contact-list li:not(:last-child) {
    margin-right: 40px;
}

@media (min-width: 768px) {
    
    .nav-iteam:not(:last-child) {
        margin-right: 40px;
    }
    
    .nav-iteam-castom {
        display: block;
    }

    .nav-contact-list {
        display: flex;
    }
}
/* //////////////////hero//////////// */

.hero {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.main-title {
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    text-align: center;
}

@media (min-width: 768px) {
    .main-title {
    font-size: 56px;
    }
}
/* //////////tournaments /////////*/
.tournaments {
    background-color: #F4F4FD;
}
.tournaments-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.tournaments-item {
    display: flex;
    flex-direction: column;
}

.tournaments-item:not(:last-child) {
    margin-bottom: 20px;
}

.tournaments-item img:hover,
.tournaments-item img:focus,
.tournaments-item img:active {
    border: 5px solid blue;
}

.our-item-text {
    background-color: #fff;
}

.description-text {
    text-align: center;
}

@media (min-width: 768px) {
.tournaments-list {
    flex-direction: row;
    justify-content: center;
    }

    .tournaments-item {
        margin-bottom: 0;
    }
}

/* @media (min-width: 1024px) {

} */
/* ////////players/////// */
.players-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.player-iteam {
    margin-top: 20px;
    border: 1px solid #2E2F42;
    display: inline-block;
}

.player-iteam:nth-child(1) {
    margin-top: 0;
}



.player-tumb {
    padding: 10px;
}
.player-text {
    text-align: left;
}

@media (max-width: 767px) {
    .player-iteam {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
    
    /* .player-iteam img {
        max-height: 480px;
    } */
}

@media (min-width: 768px) {
    .players-list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .player-iteam {
        margin-right: 15px;
        width: calc((100% - 30px) / 2);
    }

    .player-iteam:nth-child(1),
    .player-iteam:nth-child(2) {
        margin-top: 0;
    }

}

@media (min-width: 1024px) {
    .player-iteam {
        width: calc((100% - 40px) / 3);
        }
    
        .player-iteam:nth-child(3n) {
            margin-right: 0;
        }

        .player-iteam:nth-child(1),
        .player-iteam:nth-child(2),
        .player-iteam:nth-child(3) {
            margin-top: 0;
        }
}
/* //////////////tournaments */
.tournament-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-box {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.table-box img:not(:last-child) {
    margin-bottom: 20px;
}

@media (min-width: 1024px) {
    .table-box {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .table-box img {
        flex-basis: calc((100% - 40px) / 2);
        margin-right: 20px;
    }
    
    .table-box img:nth-child(2n) {
        margin-right: 0;
    }
    
    .table-box img:last-child {
        margin-bottom: 0px;
    }
}

/* player-points page 3*/
/* .img-Tournament {
    padding: 15px;
} */

.text-img {
    display: flex;
    flex-direction: column;
}

.player-points {
    margin: 20px 40px 20px 0;
}
@media (max-width: 767px) {
    .text-img img {
        max-width: 300px;
    }
}

@media (min-width: 768px) {
    .text-img {
        flex-direction: row;
    }

        .text-img img {
            max-width: 600px;
        }
}

.random-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* /////////////////////// */
.result-group img {
    margin: 0 auto;
}

.cups-box:not(:last-child) {
    margin-bottom: 20px;
}

.cups-box img {
    margin: 0 auto;
}

.cup-little {
    background-color: #fff;
}

.cups-players-tumb {
    margin-top: 40px;
    margin-bottom: 40px;
}

.preview-game {
    display: flex;
    justify-content: space-around;
}

.player-box {
    margin-bottom: 40px;
}

.player-box {
    flex-basis: calc((100% - 60px) / 2);
}

.player-box,
.sets-item {
    border: 1px solid black;
}

.sets-item {
    text-align: center;
}

.player-box .player-name {
    text-align: center;
}

.player-box-info {
    padding: 10px;
}

.players-sets-points {
    margin: auto 30px;
}

.sets-item {
    padding: 10px;
}
/* //////////////tournaments 3*/


/* footer */
footer {
   background-color: #2E2F42; 
}
.footer-logo {
    color: #fff;
}
.footer-conact-list {
    display: block;
}

.footer-contact {
    color: #fff;
}