*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1158px;
    min-width: 320px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.second-title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.11;
    margin-bottom: 40px;
    text-align: center;

}

.third-title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
    text-align: center;
}

.text {
    color: #434455;
    font-weight: 500;
    /* font-size: 22px; */
    font-size: 12px;
    line-height: 1.5;
    /* text-align: center; */
}


.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    color: blue;
    margin-right: 76px;
}

.logo:hover,
.logo:focus,
.logo:active {
    color: rgb(9, 106, 139);
}

.card-iteam {
    width: 100%;
}

.iteam-tumb {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #E7E9FC;
    padding: 32px 0;
}

.win {
    color: green;
}

.lose {
    color: red;
}

@media (min-width: 768px) {
    .container {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .second-title {
        font-size: 36px;
    }

    .third-title {
        font-size: 32px;
    }

    .text {
        font-size: 20px;
    }
    

    .card-iteam {
        width: calc((100% - 24px) / 2);
    }
    
    .card-iteam:not(:last-child) {
        margin-right: 24px;
    }
}

@media (min-width: 1024px) {
    .card-iteam {
    width: calc((100% - 48px) / 3);
    }
}

/* ///////header ////////////*/
.header-container {
    padding-top: 16px;
    padding-bottom: 16px;
}
.header-tumb {
    display: flex;
    justify-content: space-between;
}
.header-tumb nav {
    display: flex;
}

.nav-list {
    display: flex;
}

.nav-iteam:first-child {
    margin-right: 10px;
}
.nav-iteam-castom {
    display: none;
}

.iteam-link {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.iteam-link:hover {
    color: blue;
}
.nav-contact-list {
    display: none;
}
.header-contact {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.nav-contact-list li:not(:last-child) {
    margin-right: 40px;
}

@media (min-width: 768px) {
    
    .nav-iteam:not(:last-child) {
        margin-right: 40px;
    }
    
    .nav-iteam-castom {
        display: block;
    }

    .nav-contact-list {
        display: flex;
    }
}
/* //////////////////hero//////////// */

.hero {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7)),
    url(../img/rewards.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-title {
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    text-align: center;
}

@media (min-width: 768px) {
    .main-title {
    font-size: 56px;
    }
}
/* //////////tournaments /////////*/
.tournaments {
    background-color: #F4F4FD;
}
.tournaments-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.tournaments-item {
    display: flex;
    flex-direction: column;
    transition: transform 250ms ease-in-out;
}

.tournaments-item:not(:last-child) {
    margin-bottom: 20px;
}

.tournaments-item img:hover,
.tournaments-item img:focus,
.tournaments-item img:active {
    border: 4px solid rgb(74, 74, 199);
    transform: scale(1.1);
}

.our-item-text {
    background-color: #fff;
}

.description-text {
    text-align: center;
}

@media (min-width: 768px) {
.tournaments-list {
    flex-direction: row;
    justify-content: center;
    }

    .tournaments-item {
        margin-bottom: 0;
    }
}

/* @media (min-width: 1024px) {

} */
/* ////////players/////// */
.players-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.player-iteam {
    margin-top: 40px;
    border: 1px solid #2E2F42;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.14);
    
    display: inline-block;
    justify-content: space-between;
    transition: transform 250ms ease-in-out;
    position: relative;
    overflow: hidden;
}

.player-iteam:nth-child(1) {
    margin-top: 0;
}

.player-iteam img {
    margin: 0 auto;
}

.player-tumb {
    padding: 10px;
}

.overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: rgba(150, 224, 230, 0.75);
    transform: translateY(100%);


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: none;
    padding-bottom: 45px;
}

.player-iteam:hover {
    transform: scale(1.05);
}

.player-iteam:hover .overlay,
.player-iteam:focus .overlay,
.player-iteam:active .overlay {
    transform: translateY(0);
}

.progress-second {
    color: #5f5f8a;
    font-size: 10px;
    line-height: 1.25;
}

@media (max-width: 767px) {
    .player-iteam {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) {
    .players-list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .player-iteam {
        display: flex;
        flex-direction: column;
        margin-right: 15px;
        width: calc((100% - 150px) / 2);
    }

    .player-iteam:nth-child(1),
    .player-iteam:nth-child(2) {
        margin-top: 0;
    }

    .progress-second {
        font-size: 16px;
    }

}

@media (min-width: 1024px) {
    .player-iteam {
        width: calc((100% - 150px) / 3);
        }
    
        .player-iteam:nth-child(3n) {
            margin-right: 0;
        }

        .player-iteam:nth-child(1),
        .player-iteam:nth-child(2),
        .player-iteam:nth-child(3) {
            margin-top: 0;
        }
}
/* //////////////tournaments */
.tournament-img {
    margin-top: 20px;
    margin-bottom: 20px;
}


.tournament-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-box {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.table-box img:not(:last-child) {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .main-img-Tournament {
        width: 500px;
    }

    .tournament-img {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

@media (min-width: 1024px) {
    .table-box {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .table-box img {
        flex-basis: calc((100% - 40px) / 2);
        margin-right: 20px;
    }
    
    .table-box img:nth-child(2n) {
        margin-right: 0;
    }
    
    .table-box img:last-child {
        margin-bottom: 0px;
    }
}

.text-img {
    display: flex;
    flex-direction: column;
}

.text-img img {
    margin: 0 auto;
}

.player-points {
    margin: 20px 40px 20px 0;
}
@media (max-width: 767px) {
    .text-img img {
        max-width: 300px;
    }
}

@media (min-width: 768px) {
    .text-img {
        flex-direction: row;
    }

    .text-img img {
        max-width: 400px;
        display: inline-block;
        object-fit: contain;
    }
}

.random-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* /////////////////////// */
.result-group {
    display: block;
    /* justify-content: space-around; */
}

.cups-box:not(:last-child) {
    margin-bottom: 20px;
}

.cups-box img {
    margin: 0 auto;
}

.cup-little {
    background-color: #fff;
}

.cups-players-tumb {
    margin-top: 40px;
    margin-bottom: 40px;
}

.cup-title {
    margin-top: 40px;
    margin-bottom: 20px;
}

.preview-game {
    display: flex;
    justify-content: space-around;
}

.player-box {
    flex-basis: calc((100% - 20px) / 2);
}

.player-box,
.sets-item {
    border: 1px solid black;
}

.sets-item {
    text-align: center;
}

.player-box .player-name {
    text-align: center;
}

.player-box-info {
    padding: 10px;
}

.player-name {
    color: black;
    text-align: center;
}

.players-sets-points {
    margin: auto 10px;
}

.sets-item {
    padding: 5px;
}

.sets-item-result {
    font-size:  26px;
}

@media (max-width: 767px) {
    /* .result-tumb {
        text-align: center;
    } */

    .result-group-img {
        margin: 0 auto;
    }
    
    .result-list .sets-item {
        display: inline-block;
    }
}

@media (min-width: 768px) {
    .result-group {
        display: flex;
        justify-content: space-around;
    }
    
    .result-list {
        display: flex;
        justify-content: space-between;
    }
    
    .result-item {
        width: calc((100% - 20px) / 2);
    }
}
/* //////////////tournaments 3*/


/* footer */
footer {
   background-color: #2E2F42; 
}
.footer-logo {
    color: #fff;
}
.footer-conact-list {
    display: block;
}

.footer-contact {
    color: #fff;
}